<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>forty</li>
                <li>menu</li>
            </ul>
        </nav>
        <div>
            <h1>Cocktails & Getränke!</h1>
            <p>Herzlich Willkommen in der Welt der Cocktails und Getränke!
            </p>
            <form action="/" method="post">
                <input type="text" name="search" placeholder="type something">
                <input type="submit" value="Search">
            </form>
        </div>

        <img src="/assets/img/Arrows.png" alt="">
    </header>