<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>forty</li>
                <li>menu</li>
            </ul>
        </nav>
        <div>
            <h1>Cocktails & Getr채nke!</h1>
            <p>Herzlich Willkommen in der Welt der Cocktails und Getr채nke!
            </p>
    </header>
    <main class="add">
        <h3>F체ge deine eigenen Getr채nke hinzu!
        </h3>
        <div class="flex">
            <form action="/" method="post">
                <input type="text" name="inputName" placeholder="Name">
                <input type="text" name="category" placeholder="Kategorie">
                <input type="url" name="inputUrl" placeholder="Bild URL">
                <textarea name="anleitung" cols="30" rows="10" placeholder="Anleitung"></textarea>
                <input type="text" name="zutat1" placeholder="Zutat 1">
                <input type="text" name="menge1" placeholder="Menge Zutat 1">
                <input type="text" name="zutat2" placeholder="Zutat 2">
                <input type="text" name="menge2" placeholder="Menge Zutat 2">
                <input type="text" name="zutat3" placeholder="Zutat 3">
                <input type="text" name="menge3" placeholder="Menge Zutat 3">
                <input type="submit" value="Submit">
            </form>
            <div>
                <img src="/assets/img/image 9.png" alt="">
                <img src="/assets/img/image 11.png" alt="">
            </div>
            <img src="/assets/img/image 10.png" alt="">

    </main>
    <%- include('./partials/footer') %>