<%- include('./partials/header') %>
    <main class="coctails">

        <% data.forEach(drink=> {%>
            <div>
                <a href="/cocktails/<%= drink.idDrink  %> ">
                    <img src=<%=drink.strDrinkThumb %> alt="">
                    <h2>
                        <%= drink.strDrink %>
                    </h2>
                </a>
            </div>
            <% }) %>

    </main>
    </body>

    </html>