<%- include('./partials/header') %>
    <main class="start">
        <div>
            <h2>
                <a href="/gin">Gin</a>
            </h2>
            <p>
                Ipsum dolor sit amet
            </p>
        </div>
        <div>
            <a href="/vodka">
                <h2>
                    Vodka
                </h2>
                <p>
                    feugiat amet tempus
                </p>
            </a>
        </div>
        <div>
            <a href="/rum">
                <h2>
                    Rum
                </h2>
                <p>
                    Lorem etiam nullam
                </p>
            </a>
        </div>
        <div>
            <a href="/scotch">
                <h2>
                    Scotch
                </h2>
                <p>
                    Nisl sed aliquam
                </p>
            </a>
        </div>
        <div>
            <a href="/alkoholfrei">
                <h2>
                    Alkoholfrei
                </h2>
                <p>
                    Ipsum dolor sit amet
                </p>
            </a>
        </div>
        <div>
            <a href="/random">
                <h2>
                    Zufall
                </h2>
                <p>
                    Feugiat amet tempus
                </p>
            </a>
        </div>
    </main>
    </body>

    </html>