/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
 */


 body{
     color: #fff;
     margin: 0;
     font-family: 'Playfair Display', serif;
 }

 header{
     background-color: #262B46;
 }

 header ul {
     text-transform: uppercase;
     list-style: none;
     display: flex;
     justify-content:space-between;
     padding-inline-start:0;
     padding: 2vh 2%;
     margin: 0;
     font-size: .81rem;
 }

 header ul li:nth-of-type(1){
    font-weight: bold;
    letter-spacing: 4px;
 }

 header ul li:nth-of-type(2){
    font-family: 'Montserrat', sans-serif;
 }

 header div{
     padding: 0 5%;
 }

header h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin: 14vh 0 0 0;
}

header p{
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    text-transform: uppercase;
    margin-top: 1vh;
    margin-bottom: 0;
}

header input{
    border-radius: 6px;
    height: 2rem;
    box-sizing: border-box;
    margin: 5vh 2% 0 0;
    
}

header input[type="submit"]{
    background: #6FC3DF
}
 header img{
     display: block;
     margin: 0 auto;
     padding: 10vh 0 3vh 0;
 }

 .start{
     display: grid;
     grid-template-columns: repeat(2,1fr);
}

.start div{
    padding: 9vh 0 9vh 5%;
}

 .start h2{
     font-size: 3.125rem;
     margin-bottom: 0;
 }

.start p{
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    margin-top: 1vh;
    text-transform: uppercase;    
 }
 
 main div:nth-of-type(6n+1){
    background: #6FC3DF;
 }

 main div:nth-of-type(6n+2){
    background: #8D82C4;
 }

 main div:nth-of-type(6n+3){
    background: #EC8D81;
 }

 main div:nth-of-type(6n+4){
    background: #E7B788;
 }

 main div:nth-of-type(6n+5){
    background: #8EA9E8;
 }

 main div:nth-of-type(6n+6){
    background: #87C5A4;
 }
 main a{
     text-decoration: none;
     color: #FFF;
 }
.coctails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.coctails div{
    padding: 4vh 0 4vh 5%;
}
.coctails img{
    width: 50%;
    display: block;
}

.coctails a{
    display: flex;
    justify-content: space-between;
   }
.coctails div:nth-of-type(2n) a h2{
    order: 1;
    padding-top: 7%;
}
.coctails div:nth-of-type(2n+1) a h2{
      padding-top: 25%;
}
.coctails div:nth-of-type(2n) a img{
    order: 2;
    margin-right: 5%;
}

.coctails h2{
    transform: rotate(270deg);
    font-size: 1.75rem;
    width: 290px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 3rem;
    }

.details{
    display: flex;
}
.details ul{
    list-style: none;
    padding-inline-start:0
}

.add{
    background: #262B46;
    padding-left: 5%;
}
.add h3{
    margin-top: 0;
    font-size: 2rem;
    letter-spacing: 0.4px;
    padding: 15vh 0 2vh 0;
}

.add form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.add input, .add textarea{
    box-sizing: border-box;
    width: 100%;
    margin-top: 1.5vh;
    padding-left: 3%;
}

.add input[type="text"], input[type="url"]{
    height: 2rem;
}

.add form input:nth-of-type(5n+1){
    background: #6FC3DF;
 }

 .add form input:nth-of-type(5n+2){
    background: #8D82C4;
 }

 .add form input:nth-of-type(5n+3){
    background: #EC8D81;
 }

 .add form textarea{
    background: #E7B788;
 }

 .add form input:nth-of-type(5n+4){
    background: #8EA9E8;
 }

 .add form input:nth-of-type(5n+5){
    background: #87C5A4;
 }

 /* .add textarea{
     padding-bottom: 15vh;
 } */

 .add form input[type="submit"]{
    background: #6FC3DF;
    border-radius: 6px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    padding: 2vh 0;
 }

 .add .flex{
     display: flex;
     flex-grow:1;
    justify-content: space-between;
    background: #262B46;
 }


 .add .flex div{
     display: flex;
     flex-direction: column;
     background: #262B46;
 }


footer{
    background-color: #262B46;
    padding-left: 5%;
}

footer h2{
    font-size: 1.75rem;
    margin-top: 0;
    padding: 14vh 0 3vh 0;
}

footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-bottom: 12vh;
    padding-right: 10%;
}