/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
 */


 body{
     color: #fff;
     margin: 0;
     font-family: 'Playfair Display', serif;
 }

 header{
     background-color: #262B46;
 }

 header ul {
     text-transform: uppercase;
     list-style: none;
     display: flex;
     justify-content:space-between;
     padding-inline-start:0;
     padding: 2vh 2%;
     margin: 0;
     font-size: .81rem;
 }

 header ul li:nth-of-type(1){
    font-weight: bold;
    letter-spacing: 4px;
 }

 header ul li:nth-of-type(2){
    font-family: 'Montserrat', sans-serif;
 }

 header div{
     padding: 0 5%;
 }

header h1{
    font-weight: bold;
    font-size: 3.5rem;
    margin: 14vh 0 0 0;
}

header p{
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    text-transform: uppercase;
    margin-top: 1vh;
}

input{
    border-radius: 6px;
    height: 2rem;
    box-sizing: border-box;
    margin: 3vh 2% 0 0;
    
}

input[type="submit"]{
    background: #6FC3DF
}
 header img{
     display: block;
     margin: 0 auto;
     padding: 10vh 0 3vh 0;
 }